<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

   <bean id = "zeropoint" class = "com.tutorials.session2.Point">
   		<property name="x" value="0"/>
   		<property name="y" value="0"/>
   	</bean>
   	<bean id = "onepoint" class = "com.tutorials.session2.Point">
   		<property name="x" value="1"/>
   		<property name="y" value="1"/>
   	</bean>
   	<bean id = "twopoint" class = "com.tutorials.session2.Point">
   		<property name="x" value="2"/>
   		<property name="y" value="2"/>
   	</bean>
   	
   <bean id = "triangle" class = "com.tutorials.session2.Triangle">
   		<constructor-arg value="Isoceles"/>
   		<constructor-arg value="15" type="int"/>
   		<property name="pointA" ref="zeropoint"/>
   		<property name="pointB" ref="onepoint"/>
   		<property name="pointC" ref="twopoint"/>
   </bean>
   	
   	<!-- Step 9 - Aliasing a bean -->
   	<alias name="triangle" alias="triangle-alias"/>
    
</beans>